<div class="menu-bar__container" [class.fixed]="isFixed">
    <div class="menu-bar__logo">
        <img src="assets/playstation-logo.png" alt="PlayStation logo" width="150px" height="30px">
    </div>
    <div class="menu-bar__item">
        <nav>
            <a [routerLink]="['']" class="menu-bar__link">Novidades</a>
            <a [routerLink]="['']" class="menu-bar__link">Coleções</a>
            <a [routerLink]="['']" class="menu-bar__link" id="active">Ofertas</a>
            <a [routerLink]="['']" class="menu-bar__link">PS5</a>
            <a [routerLink]="['']" class="menu-bar__link">Assinaturas</a>
            <a [routerLink]="['']" class="menu-bar__link">Navegar</a>
        </nav>
    </div>
</div>