.card-banner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: 16px;
    margin: auto;
    padding-top: 50px;
    margin-bottom: 75px;
}

.card-games__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 14px;
}

.card-games__titles {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;

}
.card-games__titles > .card-games__offers {
    font-size: 26px;
    font-weight: 300;
}

.card-games__titles > .card-games__see-all {
    font-size: 16px;
    font-weight: 700;
    color: #0068bd;
    border-radius: 24px;
    padding: 10px 15px;
}

.card-games__titles > .card-games__see-all:hover {
    color: #074d8a;
    background-color: #EBEEF0;
    cursor: pointer;
}

.card-product__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
}