<section class="card-banner">
    <app-card-banner photoBanner="https://image.api.playstation.com/pr/bam-art/163/108/662a7165-0f9c-4bf8-b9ca-a57f3362ed14.jpg?w=440"></app-card-banner>
    <app-card-banner photoBanner="https://image.api.playstation.com/pr/bam-art/163/243/a0f9c3c3-ba62-4592-8075-665e44b56238.jpg?w=440"></app-card-banner>
    <app-card-banner photoBanner="https://image.api.playstation.com/pr/bam-art/163/095/f437c5b1-7b32-46bc-9596-c823d1787dd4.jpg?w=440"></app-card-banner>
    <!-- <app-card-banner photoBanner="https://image.api.playstation.com/pr/bam-art/163/289/df83b814-388a-4090-8bb8-012ec3f00ea7.png?w=440"></app-card-banner> -->
</section>
<section class="card-games">
    <div class="card-games__titles">
        <p class="card-games__offers">Ofertas</p>
        <p class="card-games__see-all">Visualizar tudo</p>
    </div>
    <div class="card-games__container">
        <app-card-games
            image="https://image.api.playstation.com/vulcan/ap/rnd/202208/1716/5xfqTHyQNpwviv22iIKDAxjp.png?w=440"
            labelPS5="PS5"
            labelPS4="PS4"
            productType="Pacote do Jogo"
            gameTitle="Hogwarts Legacy: Edição Digital Deluxe"
            priceOff="-30%"
            priceDescount="R$ 244,93"
            price="R$ 349,90"
        ></app-card-games>
        <app-card-games
            image="https://image.api.playstation.com/vulcan/ap/rnd/202205/2800/W5uSEsW7yefCNTHatS03v5q7.png?w=440"
            labelPS5="PS5"
            labelPS4="PS4"
            productType="Edição Premium"
            gameTitle="Call of Duty®: Modern Waterface II - Pacote Multigeração"
            priceOff="-50%"
            priceDescount="R$ 164,50"
            price="R$ 329,00"
        ></app-card-games>
        <app-card-games
            image="https://image.api.playstation.com/vulcan/ap/rnd/202205/2800/afZLWZPpsHjm4mfLdznqMvOI.png?w=440"
            labelPS5="PS5"
            labelPS4="PS4"
            productType="Edição Premium"
            gameTitle="Call of Duty®: Modern Waterface II - Edição Cofre"
            priceOff="-40%"
            priceDescount="R$ 269,40"
            price="R$ 449,00"
        ></app-card-games>
        <app-card-games
            image="https://image.api.playstation.com/vulcan/ap/rnd/202206/0720/eEczyEMDd2BLa3dtkGJVE9Id.png?w=440"
            labelPS5="PS5"
            productType=""
            gameTitle="The Last of Us™ Parte I"
            gameEdition="Deluxe"
            priceOff="-29%"
            priceDescount="R$ 248,42"
            price="R$ 349,90"
        ></app-card-games>
    </div>
</section>
<section class="card-produt">
    <div class="card-product__container">
        <app-card-product image="https://image.api.playstation.com/pr/bam-art/111/759/3770a95e-374d-4d53-8655-486a26929463.jpg?w=440"></app-card-product>
        <app-card-product image="https://image.api.playstation.com/pr/bam-art/109/464/38c22161-b287-4e28-89ad-a2a97c8141c3.png?w=440"></app-card-product>
        <app-card-product image="https://image.api.playstation.com/pr/bam-art/157/701/bb8d5aaa-8310-40d3-b11d-41a0f5b622e3.png?w=440"></app-card-product>
        <app-card-product image="https://image.api.playstation.com/pr/bam-art/110/565/aedbe663-b3d6-4c6f-b43c-4ae83cbd8c10.jpg?w=440"></app-card-product>
        <app-card-product image="https://image.api.playstation.com/pr/bam-art/136/935/fe5b77a8-16ee-4647-b676-bcb1a28cac2a.png?w=440"></app-card-product>
        <app-card-product image="https://image.api.playstation.com/pr/bam-art/111/152/2a125dbb-091c-4a5b-a7e3-1cf483daf439.jpg?w=440"></app-card-product>
        <app-card-product image="https://image.api.playstation.com/pr/bam-art/108/737/a296b1f1-3dee-448f-aeab-7e31dec98048.png?w=440"></app-card-product>
        <app-card-product image="https://image.api.playstation.com/pr/bam-art/156/127/64fdc096-e507-406c-a6bc-db88a6081ee2.png?w=440"></app-card-product>
    </div>
</section>
